* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: absolute;
    z-index: 1;
}

h1,
p,
address,
span {
    color: white;
    font-family: 'REM', sans-serif;
}

.title-home {
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.container_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 15px;
}

.role {
    background: linear-gradient(90deg, rgb(255, 0, 255), rgb(157, 52, 255), rgb(0, 119, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.card-About-me {
    padding: 10px;
}

.secondCardMe {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-characts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.charact {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    background-color: rgb(37, 6, 87);
}

.charact:nth-child(2) {
    color: black;
    background-color: aqua;
}

.charact:nth-child(3) {
    background-color: orangered;
}

.me-img {
    border-radius: 10px;
    width: 180px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('./assets/me.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.moreOfMe {
    padding: 15px;
}


.skills-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    padding: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
}

.skills i,
img {
    margin: 10px;
}

i {
    font-size: 3rem;
}

.projects {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.projects-cards {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px;
    scroll-snap-type: x mandatory;
}

.project-card {
    min-width: 250px;
    height: 350px;
    background-image: url('./assets/projects/batatabit.png');
    background-size: 240%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px auto;
    scroll-snap-align: center;
    position: relative;
    border-radius: 20px;
    text-align: start;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.445);
}

.project-card:nth-child(2) {
    background-image: url('./assets/projects/ecostore.png');
}

.project-card:nth-child(3) {
    background-image: url('./assets/projects/react.png');
}

.project-card:nth-child(4) {
    background-image: url('./assets/projects/django.png');
}

.project-card:nth-child(5) {
    background-image: url('./assets/projects/botTW.png');
}

.namedescProject {
    font-size: 0.9rem;
    margin: 5px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.botones {
    padding: 10px;
    position: absolute;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.botones a {
    color: white;
}

.techs {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hide {
    opacity: 0;
    transition: 1s;
    z-index: 0;
}

.techs i {
    font-size: 1.2rem;
}

.botones i {
    font-size: 1.4rem;
}

.contact-me-section {
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.contact-me {
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
}

.redes a {
    margin: 10px;
}



@media (min-width:900px) {
    .container_cards {
        gap: 50px;
    }

    .card-About-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .title-home {
        width: 400px;
        margin: 0 auto;
        height: 140px
    }


    .charact {
        width: 200px;
        text-align: center;
        margin-left: 40px;
    }

    .skills-card {
        width: 600px;
        margin: 0 auto;
    }

    .projects {
        width: 700px;
        margin: 0 auto;
    }

    .projects-cards {
        gap: 40px;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        margin-top: 20px;
    }

    .project-card {
        margin: 20px auto;
    }

    .project-card:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    .contact-me-section {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}