* {
  margin: 0;
  padding: 0;
  min-width: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
}

html {
  scrollbar-color: rgba(255, 255, 255, 0) rgb(0, 0, 0);
  scrollbar-width: none;
}

h1,
h2 {
  text-wrap: balance;
}

p,
h1,
h2,
li,
a {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
}

p {
  text-wrap: pretty;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  max-width: 1200px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  font-weight: 1000;
  border-radius: 20px;
  left: calc(50% - 600px);
  top: calc(1%);
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.322);
  border: 1px solid rgba(255, 255, 255, 0.336);
  backdrop-filter: blur(0.1rem);
}

.name_and_image {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header > nav > ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

li > a {
  text-decoration: none;
  font-size: 1rem;
}

li > a:hover {
  color: #36c5fa;
  text-decoration: underline;
}

.home {
  height: 80vh;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 5px;
  background-color: black;
  z-index: 3;
}

main {
  position: relative;
  z-index: 3;
  max-width: 100vw;
}

.status {
  width: 15px;
  height: 15px;
  background-color: #36c5fa;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.home h1 {
  font-size: 4rem;
  max-width: 1000px;
}

.home h2 {
  font-size: 2rem;
}

.home span {
  color: #0caeeb;
}

.status_work {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.411);
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.089);
  font-weight: 500;
}
#PROYECTOS {
  padding-bottom: 250px;
}

.projects {
  background-color: black;
  padding-bottom: 250px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 2;
}

.title_projects {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.title_projects h1 {
  width: 100%;
  max-width: 1300px;
  padding: 10px 0px 10px 30px;
  border-radius: 20px;
  border: 1.5px solid white;
  background-color: rgba(255, 255, 255, 0.041);
}

.title_projects a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  background-color: #016fa3;
  color: white;
  transition: transform 0.3s ease-in;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.title_projects a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.projects_cards_container {
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card_project {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0px 20px 0px;
  border-radius: 20px;
}

.card_project:first-child img {
  order: -1;
}

.title_and_description_project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-left: 5px;
  width: 50%;
}

.title_and_description_project:nth-child(2) {
  align-items: flex-end;
}

.title_and_description_project p {
  max-width: 600px;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.text_project {
  width: 100%;
  border: 1.2px solid #7cd6fd2c;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #07314a;
}

.skills_container {
  padding: 10px 10px 10px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.skills_container img {
  width: 40px;
}

.project_buttons {
  display: flex;
  width: 40%;
  min-width: 200px;
  gap: 20px;
  justify-content: space-around;
  padding-left: 5px;
}

.project_buttons a {
  width: 120px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 1000;
  background-color: #016fa3;
  transition: transform 0.333s ease;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.project_buttons a:hover {
  transform: scale(1.1);
}

.project_buttons a:last-child {
  background-color: #152d5c;
}

.image_project {
  width: 50%;
  border-radius: 20px;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.card_project:hover > .image_project {
  filter: drop-shadow(30px 10px 4px #016fa3);
}

.contact_and_skills {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: #008fce;
  position: fixed;
  top: 0;
  z-index: 2;
}

.contact_and_skills h1 {
  position: absolute;
  right: 20px;
  top: calc(20%);
  font-size: 5rem;
  font-weight: 1000;
  background-color: rgba(0, 0, 0, 0.205);
}

.contact_me_title span {
  position: absolute;
  right: calc(0%);
  top: calc(100%);
  background-color: rgba(0, 0, 0, 0.185);
  color: #07314a;
}

#CONTACT {
  height: 100vh;
  z-index: -1;
}

.content {
  color: #b9e8fe;
  font-weight: 1000;
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 300px);
  right: calc(50% - 250px);
  filter: contrast(1000%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.content:hover {
  opacity: 0.5;
}

.contact_me_options {
  position: absolute;
  right: 5px;
  top: calc(55%);
}

.contact_me_options a {
  width: 350px;
  display: block;
  text-decoration: none;
  padding: 10px 10px 5px 0px;
  border-bottom: 2px solid #f0faff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.contact_me_options a > i {
  opacity: 0;
  transition: opacity 0.278s ease;
}

.contact_me_options a:hover > i {
  opacity: 1;
}

.code_img {
  width: 200px;
  position: absolute;
  left: calc(10%);
  top: calc(50% - 120px);
  opacity: 0.2;
}

.code_img:hover {
  opacity: 0.5;
  cursor: pointer;
}

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: calc(50% - 210px);
  z-index: 2;
}

.signature {
  padding: 20px;
  text-align: center;
  font-weight: 1000;
  opacity: 0.8;
  filter: contrast(200%);
}

@media screen and (max-width: 1250px) {
  header {
    max-width: 900px;
    left: calc(50% - 450px);
  }
}

@media screen and (max-width: 1200px) {
  .projects {
    padding: 0px 20px 0px 20px;
  }

  .home {
    padding: 0px 20px 0px 20px;
  }

  .title_projects h1 {
    margin-left: 20px;
  }

  .card_project {
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    border-radius: 0;
  }

  .contact_and_skills {
    max-width: 100vw;
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .contact_and_skills h1 {
    position: sticky;
    order: -1;
    text-align: center;
    font-size: 3.5rem;
  }

  .contact_and_skills span {
    position: inherit;
    background-color: transparent;
  }

  #CONTACT {
    display: none;
  }

  .content {
    display: none;
  }

  .contact_me_options {
    position: inherit;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(0.3rem);
  }

  .code_img {
    display: none;
  }

  .signature {
    position: inherit;
    color: rgba(0, 0, 0, 0.733);
  }

  footer {
    position: inherit;
  }
}

@media screen and (max-width: 930px) {
  .home h1 {
    font-size: 2.5rem;
  }

  header {
    display: none;
  }

  .card_project {
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.253);
    border-radius: 0;
  }

  .image_project {
    width: 100%;
    order: -1;
    filter: none;
  }

  .title_and_description_project {
    width: 100%;
  }

  .text_project {
    width: 100%;
  }

  .project_buttons {
    width: 100%;
    justify-content: space-evenly;
  }

  .title_projects a {
    padding: 20px;
    display: grid;
    place-content: center;
  }

  footer {
    left: calc(50% - 202px);
  }
}

@media screen and (max-width: 500px) {
  .title_projects h1 {
    font-size: 1rem;
    padding: 10px;
    text-align: center;
  }

  .contact_me_options {
    min-width: 300px;
    margin: 0;
    left: 0;
  }

  .contact_me_options a {
    width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 149, 235, 0.829);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(34, 56, 51, 0.062);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
